GPU-Distributed/mandelbrot 2/cpu_00.png
GPU-Distributed/mandelbrot 2/cpu_01.png
GPU-Distributed/mandelbrot 2/cpu_02.png
GPU-Distributed/mandelbrot 2/cpu_03.png
GPU-Distributed/mandelbrot 2/cpu_04.png
GPU-Distributed/mandelbrot 2/cpu_05.png
GPU-Distributed/mandelbrot 2/cpu_06.png
GPU-Distributed/mandelbrot 2/cpu_07.png
GPU-Distributed/mandelbrot 2/cpu_08.png
GPU-Distributed/mandelbrot 2/cpu_09.png
